<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>loginlogout</td><td>go_test.gibiboFirstMethod()[pri:1, instance:big_web.tests.go_test@1ba11bc]<br/></td></tr>
</table>
