<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d0a18d">  <td>17/11/09 16:17:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;go_test.catchExceptions(org.testng.ITestResult)[pri:0, instance:big_web.tests.go_test@1ba11bc]">&lt;&lt;catchExceptions</td> 
<td>&nbsp;</td>  <td>main@15820414</td>   <td></td> </tr>
<tr bgcolor="d0a18d">  <td>17/11/09 16:16:42</td>   <td>-28162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="go_test.gibiboFirstMethod()[pri:1, instance:big_web.tests.go_test@1ba11bc]">gibiboFirstMethod</td> 
  <td>main@15820414</td>   <td></td> </tr>
<tr bgcolor="d0a18d">  <td>17/11/09 16:15:05</td>   <td>-125288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;go_test.openTheBrowser()[pri:0, instance:big_web.tests.go_test@1ba11bc]">&gt;&gt;openTheBrowser</td> 
<td>&nbsp;</td>  <td>main@15820414</td>   <td></td> </tr>
</table>
